/* ______________nabar__________ */

body{
    margin: 0;
    padding: 0;
    background-color:#1c1c1c;
    font-size: 13px;
      font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Wix Madefor Text', sans-serif;
  }
  #navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1c1c1c;
  
  }
  #nav{
    width: 90%;
    margin: auto;
    padding-top:20px ;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-size: 13px;
    border-bottom: 1px solid white;
  }
  #nav_search_box input{
    margin: 0;
    border: none;
    padding:10px;
    border-radius:16px 0px 0px 16px;
    height: 100%;
    width: 80%;
    background-color: #1c1c1c;
    color: aliceblue;
  }
  #nav_search_box input:focus{
  border: none;
  outline: none;
  }
  #nav_search_box button{
    margin-left: -4px;
    border: none;
    border-radius:0px 16px 16px 0px;
    height: 100%;
    width: 20%;
    background-color: #1c1c1c;
    color: aliceblue;
  }
  #nav_search_box{
    width: 25%;
    height: 30px;
    padding: 2px;
    border-radius: 50px;
  border: 2px solid aliceblue;
  }
  
  #nav-mid{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
  }
  
  #nav-mid>div:first-child{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #nav-end{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  #nav a{
  text-decoration: none;
  color: aliceblue;
  }
  #nav-end .profile{
    background-color: transparent;
    color: aliceblue;
    border: none;
  }
  #nav-end .profile:hover{
    cursor: pointer;
  }
  /* ________sub______nav */
  
  
  #subnav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    
    /* border: 1px solid red; */
    align-items: center;
  }
  
  #subnav div:last-child a{ 
    padding: 10px;
    text-decoration: none;
    color: rgb(167, 159, 159);
  }
  #subnav div:first-child{
    color: rgb(167, 159, 159);
  }
  
  #subnav div:first-child span{
    color: aliceblue;
  }
  #subnav div:first-child{
    width: 170px;
    display: flex;
   align-items: center;
  }
  
  #subnav div:first-child img{
    width: 22px;
    height: 22px;
    /* border: 1px solid pink; */
  }
  
  
  /* __________footer___________ */
  
  #footer{
    /* background-color: pink; */
    /* border: 1px solid green; */
    width: 90%;
    margin: auto;
    color: aliceblue;
    margin-top: 90px;
  }
  #footer a{
   text-decoration: none;
   color: aliceblue;
  }
  .Social_media{
    width: 15%;
    display: flex;
   justify-content: space-around;
   flex-direction: column;
  }
  .Social_media div{
    display: flex;
   /* align-items: center; */
  }
  
  .Social_media div:last-child{
    width: 80%;
    display: flex;
    color: aliceblue;
    justify-content: space-between;
  }
  
  .footer_top{
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
  }
  .abouth{
    width: 65%;
   display: flex;
   justify-content: space-evenly;
  }
  
  .abouth div{
    display: flex;
    flex-direction: column;
  }
  
  .abouth div a{
    font-size: 94%;
    /* font-weight: 600; */
   
  padding: 8px 0px;
  }
  
  .newsletter{
    width: 27%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }
  .newsletter div{
    margin-top: 20px;
    width: 80%;
    height: 80%;
  /* border: 1px solid red; */
  }
  
  .newsletter div input{
    height: 40px;
    width: 70%;
    border-radius:10px 0px 0px 10px;
    background-color: #1c1c1c;
    border: 2px solid #747474;
    color: aliceblue;
    text-align: justify;
  }
  .newsletter div input:focus{
    outline: #747474;
    
  }
  .newsletter div input::placeholder{
    font-size: 17px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Wix Madefor Text', sans-serif;
  }
  .newsletter p{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
      font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Wix Madefor Text', sans-serif;
    font-weight: 500;
    padding-right:30px ;
    line-height: 20px;
  }
  .newsletter #terms_con{
    text-decoration: underline;
  }
  .newsletter div button{
    width: 29%;
    height: 45px;
    padding-bottom: 4px;
    border: none;
    /* border: 2px dolid #747474; */
    border-radius: 0px 10px 10px 0px;
    margin-left: -10px;
    background-color: #747474;
    color: #1c1c1c;
    font-size: 16px;
  }
  .footer-bottom{
    padding-top:80px ;
    text-align: center;
    margin: auto;
   
  }
  /* ____________________- */
  
  
  
  /* navbar ends here----------------- */
  
  
  Body {
    margin-top: 100px;
    margin-top: 500px;
      margin: 0;
      padding: 0;
      /* background-color: #f3f7fb; */
      background-color: #1f2322;
      height: 100vh;
    }
    
    .Container {
      margin-bottom: -230px;
      display: Flex;
      flex-flow: Column;
      height: 100%;
      align-items: Space-Around;
      justify-content: Center;
      margin-top: -100px;
    }
    
    .UserInput {
      display: Flex;
      justify-content: Center;
    }
    
    Input {
      margin: 10px;
      height: 35px;
      width: 65px;
      border: None;
      border-radius: 5px;
      text-align: Center;
      font-family: Arimo;
      font-size: 20px;
      caret-color: transparent;
      /* background: #0b1d1f; */
      background: transparent;
      border: 2px solid rgba(128, 128, 128, 0.637);
      /* color: #f3f7fb; */
      color: aliceblue;
    }
    Input:focus{
      outline: none;
    }
    H1 {
      text-align: Center;
      font-family: Arimo;
      /* color: #237981; */
        /* color: #0e1a1b; */
        color: rgba(240, 248, 255, 0.745);
        letter-spacing: 5px;
      font-family: 'Raleway', sans-serif;
        margin-top: 20px;
    }
    #btn {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 30px;
    }
    Button {
      width: 150px;
      height: 40px;
      
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: transparent;
      color: aliceblue;
      font-size: 16px;
      padding: 10px 0;
      border: 1px solid #c68409;
    }
    button:hover {
      /* background-color: rgb(3, 90, 3); */
      background: #1c1c1c9d;
      transform: scale(1.02);
    }
    #verify {
        color: rgba(240, 248, 255, 0.532);
        text-align: center;
        font-size: 50px;
        margin-bottom: 50px;
    }
    #para {
        display: flex;
        justify-content: center;
    }
    #para  p {
        margin-top: -10px;
        margin-bottom: -100px;
        font-size: 20px;
        letter-spacing: 2px;
        width: 70%;
        font-weight: lighter;
        text-align: center;
        color: rgb(238, 227, 227);
    }
  
    #verify{
      margin-top: 140px;
    }
    #spinner {
      border: 16px solid #0a1d04;
      border-top: 16px solid #db3466;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      margin: 100px auto;
      display: none; /* Hide the spinner initially */
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .blurred {
      filter: blur(5px); /* Apply the desired blur effect */
    }
    