body {
    background-color: #262626;
    color: white;
    font-family: 'Raleway';
}

#NavBar {
    background-color: black;
    color: white;
    
}

#top {
    display: flex;
    margin: 0;
    gap: 80px;
    padding-top: 30px;
    border-bottom: solid 2px white;
    align-items: center;
    justify-content: space-around;
}

#logo {
    height: 70px;
}

#search {
    background-color: black;
    border: 2px solid white;
    border-radius: 15px;
    width: 240px;
    height: 33px;
    padding: 10px;
    margin-bottom: 12px;
    margin-left: 100px;
}

#category {
    display: flex;
    gap: 19px;
    margin: 0 80px;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#icons {
    display: flex;
    gap: 20px;
    margin-bottom: 12px;
    margin-left: 110px;
}

#icons > div {
    height: 20px;
    width: 20px;
}

#contact {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
    margin-left: 50px;
    font-size: 15px;
    font-weight: bold;
}

#bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 100px;
    gap: 20px;
    font-family: 'Raleway';
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
}

#footer {
    color: WHITE;
    padding: 50px;
    font-family: 'Raleway';
    background-color: black;
    display: flex;
    justify-content: space-around;
}

#logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#second-logo {
    height: 50px;
}

#socials > i {
    height: 20px;
}

#end {
    background-color: black;
    color: black;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

#body-start {
    box-shadow: #C68409 0px 1px 10px 0px;
    padding: 120px;
    background-image: url(https://images.pexels.com/photos/8926943/pexels-photo-8926943.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 70%;
    height: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    animation: slider 12s infinite ease;
}

@keyframes slider {
    0%{background-image: url(https://images.pexels.com/photos/8926943/pexels-photo-8926943.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);}
    35%{background-image: url(https://images.pexels.com/photos/260409/pexels-photo-260409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);}
    75%{background-image: url(https://images.pexels.com/photos/3569754/pexels-photo-3569754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);}
}

#body-start1 {
    font-size: 50px;
    width: 500px;
}

#body-start2 {
    font-size: 18px;
    width: 600px;
}

#body-start3 {
    font-size: 18px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #C68409;
    color: white;
    border-radius: 7px;
}

#best-sellers {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#product-image {
    width: 300px;
}

#bs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#best-sellers-title {
    font-size: 35px;
}

#product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: #C68409 0px 2px 10px 0px;
}

#product > p {
    padding-left: 10px;
    padding-top: 10px;
    gap: 0;
    font-size: 15px;
    margin: 0;
    color: black;
    font-weight: 500;
}

#brain-tech-title {
    font-size: 35px;
    margin-bottom: 40px;
    color: white;
}

#bt {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

#brain-tech {
    background-image: url(https://images.pexels.com/photos/15663448/pexels-photo-15663448/free-photo-of-bikers-sitting-on-bench.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    padding: 50px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: #C68409 0px 1px 10px 0px;
    border-radius: 10px;
}

#brain-tech3 {
    font-size: 18px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #C68409;
    color: white;
    box-shadow: #C68409 0px 1px 10px 0px;
    border-radius: 7px;
}

#brain-tech3:hover {
    background-color: #EB001B;
    color: white;
    border: 2px solid #EB001B;
}

#body-start3:hover {
    background-color: #EB001B;
    color: white;
    border: 2px solid #EB001B;
}

#body-tech1 {
    font-size: 35px;
    margin-bottom: 40px;
}

#body-tech2 {
    font-size: 15px;
    margin-bottom: 40px;
}

#before {
    text-decoration: line-through;
}

#after {
    color: red;
}

#more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#more1top {
    background-image: url(https://images.pexels.com/photos/8757205/pexels-photo-8757205.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 1400px;
    padding: 100px;
    height: 400px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: #C68409 0px 1px 10px 0px;
}

#more1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#head {
    font-size: 40px;
}

#para {
    font-size: 15px;
}

#more2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#more2left {
    background-image: url(https://images.pexels.com/photos/7782975/pexels-photo-7782975.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 690px;
    height: 400px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 100px;
    box-shadow: #C68409 0px 1px 10px 0px;
}

#more2right {
    background-image: url(https://images.pexels.com/photos/37823/pexels-photo-37823.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 690px;
    height: 400px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 100px;
    box-shadow: #C68409 0px 1px 10px 0px;
}

@media only screen and (max-width: 1900px){
    #contact {
        display: none;
    }
}

@media only screen and (max-width: 1600px){
    #contact {
        display: none;
    }

    #category {
        display: none;
    }
}

@media only screen and (max-width: 1430px){
    #contact {
        display: none;
    }

    #category {
        display: none;
    }

    #hide {
        display: none;
    }
}

@media only screen and (max-width: 1150px){
    #contact {
        display: none;
    }

    #category {
        display: none;
    }

    #hide {
        display: none;
    }

    #body-start {
        width: 80%;
    }
}

@media only screen and (max-width: 1050px){
    #contact {
        display: none;
    }

    #category {
        display: none;
    }

    #search {
        display: none;
    }

    #top {
        margin: 0;
    }
}

@media only screen and (max-width: 930px){
    #contact {
        display: none;
    }

    #category {
        display: none;
    }

    #search {
        display: none;
    }

    #top {
        margin: 0;
    }

    #body-start {
        display: none;
    }
}

