
body{
    margin: 0;
    padding: 0;
    

}


#main{
    width: 90%;
    margin: auto;
    padding:80px 5%;
    /* margin-top: 120px; */
    background-color: #484448;
}
#main>div:first-child{
    display: flex;
    justify-content: flex-end;
}
#main>div:first-child select{
    border: none;
    background-color: #484448;
    color: aliceblue;
    margin: 0px 10px;
}
#main>div:first-child option{
    background-color: transparent;
    border-radius: 5px;
}
#maindiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#maindiv>div:first-child{
    width: 15%;
    font-size: 20px;
}
#maindiv>div:last-child{
    width: 80%;
}
.pagination{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    margin-top: 30px;
}
.pagination ul{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    list-style-type: none;
    /* border: 1px solid red; */
    margin-right: 10%;
}

.pagination ul li{
    border: 2px solid rgba(107, 104, 104, 0.592);
    padding: 8px 15px;
    font-size: 14px;
    color: aliceblue;
    border-radius: 5px;
}
.pagination ul li:hover{
    background-color: #63635e;
    border: 2px solid rgba(240, 248, 255, 0.56);
    transform: scale(1.1);
}
#filterdiv{
    color: white;
    margin-top: -110px;
    padding-top: 0;
}
#filterdiv>div{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid rgba(128, 128, 128, 0.329) ;
    padding:20px 0px ;
    z-index: -10;
}
#filterdiv>div button{
    border: none;
    background-color: transparent;
  color: aliceblue;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
}
#filterdiv>div div{
    font-size: 14px;
    font-weight: lighter;
}

#sorting{
    display: flex;
    color: aliceblue;
    margin-bottom: 5px;
    justify-content: flex-end;
}
#select{
    background-color:transparent;
    color: aliceblue;
    border: none;
    
}
#select option{
    background-color: transparent;
}
#select:focus{
    outline: none;
    background-color: transparent;
}
#products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

#productsdiv{
    width: 74%;
    margin: 50px 0px;
    margin-left: 20%;
    
}
#products>div:hover{
    transform: scale(0.97);
}
#products>div{
background-color: white;
    border-radius: 5px;
    height: 50vh;
   padding: 10px 15px;
   box-shadow: #422F0B 0px 7px 30px 4px, #422F0B 0px 2px 16px 0px;
}
#products>div img+p{
    font-size: 18px;
    line-height: 1.5em;
    height: 1.4em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden; 
}
#products>div p+p{
    font-size: 15px;
    line-height: 10px;
    color: #201e1e;
    font-weight: lighter;
}
#products>div p+p+p{
    line-height: 0px;
    font-weight: lighter;
    color: #4340439e;
    font-size: 15px;
}
#products div img{
    height: 60%;
    width:80%;
    margin: auto;
}

#products>div button{
 border: 2px solid grey;
 border-radius: 5px ;
 font-size: 10px;
 background-color: transparent;
 padding:6px;
 margin-right: 15px;
}

