@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
}



.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #1a1a1a;
  color: #525252;
  border: 2px solid #525252;
}

nav {
  background-color: #1a1a1a;
  width: 100%;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 120px;
  margin-right: 50px;
}

.user-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
}

nav ul {
  width: 100%;
  text-align: center;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #ffff;
  text-decoration: none;
}

.sub-menu-wrap {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 300px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  z-index: 1; /* Add this line to ensure the submenu is positioned above other elements */
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.sub-menu::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

.sub-menu::-webkit-scrollbar-thumb {
  background-color: #ebe7e7;
  border-radius: 4px;
}

.sub-menu::-webkit-scrollbar-thumb:hover {
  background-color: #928e8e;
}

.sub-menu::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}
.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 600;
  font-size: 14px;
}

.user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
}

.sub-menu-link img {
  width: 25px;
  background-color: #eceaff;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
.catalogue-link {
  display: none;
}

.sub-menu-link span {
  font-size: 20px;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #c68709;
  border-radius: 10px;
}


#search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 300px;
}

#search-results {
  display: none; /* Hide the search results box by default */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px; /* Set the maximum height for the dropdown */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
}

#search-results.show {
  display: block; /* Show the search results box when there are results */
}

#search-results option {
  padding: 4px 8px;
  cursor: pointer;
}

#search-results option:hover {
  background-color: #f5f5f5;
}

/* Hide the scrollbar */
#search-results::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

#search-results::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

#search-results::-webkit-scrollbar-thumb {
  background-color: #ebe7e7;
  border-radius: 4px;
}

#search-results::-webkit-scrollbar-thumb:hover {
  background-color: #928e8e;
}



#nav_search_userpro {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 20px;
  padding: 3px;
  border: none;
}

#nav_search_userpro input[type="search"] {
  border: none;
  background-color: transparent;
  color: #c68709;
  padding: 8px;
  width: 100%;
  outline: none;
}

#nav_search_userpro button {
  border: none;
  background-color: transparent;
  color: #ffffff;
  padding: 8px;
  cursor: pointer;
}

#nav_search_userpro input[type="search"]::placeholder {
  color: #ffffff;
  opacity: 0.7;
}
#nav_search_userpro button i {
  font-size: 16px; /* Adjust the font size as per your preference */
  transition: transform 0.3s ease-in-out; /* Add transition for animation */
}

#nav_search_userpro button:hover i {
  transform: scale(1.2); /* Apply the desired animation effect */
  color: #c68709;
}
.login-option {
  cursor: pointer;
  margin-right: 20px;
  color: #ffff;
}

.login-option:hover {
  text-decoration: underline;
}

.user-profile {
  position: relative;
}

.user-profile .auth-user-pic {
  display: none;
}

/*responsive  ========================================== */

@media (min-width: 300px) and (max-width: 800px) {
  li {
    display: none !important;
  }
  .search-bar {
    display: none !important;
  }
  .catalogue-link {
    display: flex;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {

    li {
    display: none !important;
  }
  .catalogue-link {
    display: flex;
  }

}
