/* nav____________________ */

body{
    margin: 0;
    padding: 0;
    background-color:#1f2322;
    color: aliceblue;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
width: 100%;
overflow-x: hidden;
position: absolute;
}
#sugge_box{
    display: none;
    width: 30vh;
    position: fixed;
    left: 49.5%;
    top: 10%;
    /* border: 1px solid red; */
    border-radius: 5px;
    background-color: #262626eb;
}
#sugge_box div{ 
    padding:2px 10px ;
    height: 1rem;
    overflow: hidden;
    border-radius: 8px;
    color: aliceblue;
}
#sugge_box div:hover{
    background-color: #353333e0;
}
#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    background-color: #1c1c1c;
    font-family: 'Quicksand', sans-serif;
}
#nav{
    font-family: 'Wix Madefor Display', sans-serif;
    width: 90%;
    margin: auto;
    padding-top:20px ;
    padding-bottom: 10px;
    display: flex;
    background-color: #1c1c1c;
    justify-content: space-between;
    color: aliceblue;
    font-size: 13px;
    border-bottom: 1px solid aliceblue;
}
#nav p{
    
    font-weight: 500;
}
#nav_search_box input{
    margin: 0;
    border: none;
    padding:10px;
    border-radius:16px 0px 0px 16px;
    height: 100%;
    width: 80%;
    background-color: #1c1c1c;
    color: aliceblue;
}
#nav_search_box input:focus{
border: none;
outline: none;
}
#nav_search_box button{
    margin-left: -4px;
    border: none;
    border-radius:0px 16px 16px 0px;
    height: 100%;
    width: 20%;
    background-color: #1c1c1c;
    color: aliceblue;
}
#nav_search_box{
    width: 25%;
    height: 30px;
    padding: 2px;
    border-radius: 50px;
 border: 2px solid aliceblue;
}

#nav-mid{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

#nav-mid>div:first-child{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nav-end{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
#slide5>div{
    z-index: 2;
    font-size: 12px;
    margin-left: -500px;
}
#slide5 h1{
    font-size: 300%;
    width: 55%;
    letter-spacing: 3px;
}
#slide5 p{
    font-size: 19px;
    font-weight: 500;
    margin-top: 0px;
    letter-spacing: 2px;
}
#slide5 button:hover{
    cursor: pointer;
}
#catalogue{
    z-index: 2;
    border: 2px solid #c68409;
    background-color: transparent;
    padding:15px 30px ;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 0px;
    margin-top: 10px;
    color: aliceblue;
}
#nav a{
text-decoration: none;
 color: aliceblue;
}
#nav-end .profile{
    background-color: transparent;
    color: aliceblue;
    border: none;
}
#nav-end .profile:hover{
    cursor: pointer;
}
/* ________sub______nav */


#subnav{
    width: 90%;
    margin: auto;
    margin-top: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#subnav div:last-child a{ 
    padding: 10px;
    text-decoration: none;
    color: rgb(167, 159, 159);
    font-weight: 580;
}
#subnav div:first-child{
    color: rgb(167, 159, 159);
}

#subnav div:first-child span{
    color: aliceblue;
}
#subnav div:first-child{
    width: 170px;
    display: flex;
   align-items: center;
}

#subnav div:first-child img{
    width: 22px;
    height: 22px;
    /* border: 1px solid pink; */
}
#header{
    height: 30%;
    background-color: rgb(94, 89, 89) ;
}
#footer{
    height: 30%;
}
main{
    /* background-color: aqua; */
    color: #1c1c1cda;
    font-size: 15px;
}
#mainDiv{
    display: flex;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 7px;
}
#mainDiv input{
    width: 12%;
    margin: 0px 5px;
    text-align: center;
}

#mainDiv div{
    margin: auto;
    margin-left: 10px;
/*  */
    /* border: 1px solid red; */
}
#mainDiv img{
    height: 120px;
    /* margin-left: 30%; */
    /* padding: 30%     ; */
}
#mainDiv>div:first-child img:first-child{
    height: 120px;
    border: 1px solid gray;
    border-radius: 5px;
    /* margin-left: 30%; */
    /* padding: 30%     ; */
}

    #dellogo{
    width: 35%;
    margin: auto;
    padding-left: 10px;            

    /* border: 1px solid red; */
}
#delcart{
    background-color: transparent;
    border: none;        }
 
#mainDiv div:nth-child(2){
    margin-left: 20px;
    width: 85%;

    /* border: 2px solid green; */
}
#mainDiv div:nth-child(3) button:nth-child(1){
    /* margin-left: 0px; */
    /* width: 15%; */
    margin-left: 20px;
    /* margin: auto; */
}
#mainDiv div:nth-child(4){
    /* margin-left: 0px;     */
    width: 30%;
    padding:0% 1%;
    /* margin: auto; */
}
#orderitem{
    width: 65%;
    margin: auto;
    /* border: 1px solid black; */
    padding: 20px;
    font-weight: lighter;
    color: #1c1c1c;
}
#orderitem>p{
color: aliceblue;
}

#orderitem h2{
    letter-spacing: 2px;
    font-size: 25px;
    color: rgba(240, 248, 255, 0.825);
}

#orderDetails{
    display: flex;
    width: 65%;
    border: 1px solid black;
    padding: 15px 10px;
    color: #1c1c1c;
    font-weight: 550;
    background-color: aliceblue;
    border-radius: 7px;
    
}
#orderDetails div i{
    margin-left: 30%;
    
}



#detailsAmount{
    display: flex;
    margin: auto;
}
#orderDetails div{
    margin: 5px;
    
}
/* #orderDetails {
    margin-left: 30%;
    
} */
#amount{
    border: 1px solid black;
    display: flex;
    width: 34%;
    padding: 10px;
    margin-left: 10px;
    background-color: aliceblue;
    border-radius: 7px;
}
#amount button{
    height: 30%;
    border: none;
    background-color: rgba(255, 0, 0, 0.914);
    color: aliceblue;
    padding: 12px ;
    border-radius: 3px;
    font-size: 13px;
}
#displayMRP,#displayMRPCart  {
    text-decoration-line: line-through;
    font-size: 15px;
    font-weight: 550;
    color: #1c1c1ca4;
    
}
#detail+div button{
   background-color: transparent;
   border: none;
   font-size: 16px;
   color: #1c1c1ce1;
}
#detail+div button:first-child{
    font-size: 20px;
}
#detail+div input{
    border: 2px solid rgba(128, 128, 128, 0.663);
    border-radius: 3px;
    font-weight: 550;
    padding: 3px ;
    color: #1c1c1cd4;
}
#displayMRPfynl ,#finalAmt{
    color: #1c1c1cda;
    font-weight: 550;
    letter-spacing: 1px ;
    font-size: 15px;
}


/* __________footer___________ */

#footer{
    background-color: #1c1c1c;
    /* border: 1px solid green; */
    width: 100%;
    padding-top: 150px;
    color: aliceblue;
}
#footer a{
   text-decoration: none;
   color: aliceblue;
}
.Social_media{
    width: 15%;
    display: flex;
   justify-content: space-around;
   flex-direction: column;
}
.Social_media div{
    display: flex;
   /* align-items: center; */
 }

 .Social_media div:last-child{
    width: 80%;
    display: flex;
    color: aliceblue;
    justify-content: space-between;
 }
 
.footer_top{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.abouth{
    width: 65%;
   display: flex;
   justify-content: space-evenly;
}

.abouth div{
    display: flex;
    flex-direction: column;
}

.abouth div a{
    font-size: 94%;
    /* font-weight: 600; */
   
 padding: 8px 0px;
}

.newsletter{
    width: 27%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    color: aliceblue;
}
.newsletter div{
    margin-top: 20px;
    width: 80%;
    height: 80%;
 /* border: 1px solid red; */
}

.newsletter div input{
    height: 40px;
    width: 70%;
    border-radius:10px 0px 0px 10px;
    background-color: #1c1c1c;
    border: 2px solid #747474;
    color: aliceblue;
    text-align: justify;
}
.newsletter div input:focus{
    outline: #747474;
}
.newsletter div input::placeholder{
    font-size: 17px;
    text-align: center;
}
.newsletter p {
    font-size: 13px;
    font-weight: 500;
    padding-right:30px ;
    line-height: 20px;
    color: #747474;
}
.newsletter #terms_con{
    text-decoration: underline;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: aliceblue;
}
.newsletter div button{
    width: 29%;
    height: 45px;
    padding-bottom: 4px;
    border: none;
    /* border: 2px dolid #747474; */
    border-radius: 0px 10px 10px 0px;
    margin-left: -10px;
    background-color: #747474;
    color: #1c1c1c;
    font-size: 16px;
}
.footer-bottom{
    padding-top:80px ;
    text-align: center;
    margin: auto;
    font-size: 13px;
    font-weight: 590;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.footer-bottom p{
    font-family: 'Wix Madefor Display', sans-serif;
    padding-bottom: 40px;
}
@media only screen and (max-width: 1000px) {
#orderitem {
    width: 95%;
}
   
#home{
    width: 30%;
}
#home img{
    width: 90%;
}
#nav-mid>div:first-child,#nav-mid>div:last-child{
    display: none;
}
#nav_search_box{
    width:70%;
 margin-left: 20px;
}

#nav-end{
    width:100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#nav-end>a{
    display: none;
}
#nav-end button{
     font-size: 90%;
    }

#subnav{
width: 100%;
margin-top: 70px;
margin-left: -20px;
}
#subnav div:last-child a{ 
padding: 5px;
font-size: 80%;
}
#subnav div:first-child span{
font-size: 90%;
}

#subnav div:first-child{
width: 120px;
display: flex;
align-items: center;
font-size: 80%;
}

#subnav div:first-child img{
width: 15%;
height: 15%;
}
    }

